<a href="https://colab.research.google.com/github/Mitali064/Demo/blob/main/A_C_Python_Lessons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input())
b = int(input())

print (a+b)

In [ ]:
side_of_a_square = int(input())
area = side_of_a_square **2
print (area)

In [ ]:
a = float(input())
b = float(input())

avg = (a + b)/2

print(avg)

In [ ]:
a = int(input())
b = int(input())

if a >= b:
 print (True)
else:
 print(False)

In [ ]:
name = str(input())

print(len(name))

In [ ]:
question = str(input())
question.count("$")

In [ ]:
a = int(input())

if a % 2 == 0:
 print ("Even")
else:
 print("Odd")

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if a > b and a > c:
 print ("The greatest integer is " + str(a))
elif b >a and b > c:
  print("The greatest integer is " + str(b))
elif c > a and c > b:
  print("The greatest integer is " + str(c))
else:
 print("Nothing")

In [ ]:
X = int(input())

if X % 7 == 0:
  print("X is a multiple of 7.")
else:
  print("X is not a multiple of 7.")

In [ ]:
print("Enter your 3 favorite movies-")

a = str(input())
b = str(input())
c = str(input())

Movie_list =[a, b, c]

print(Movie_list)

In [ ]:
list=[1,2,3,2,1]
list1 = list.copy()

list1.reverse()

if list1 == list:
  print("Yes, It is a palindrome.")
else:
  print("No, Not a palindrome.")

In [ ]:
tup = ("C","D","A","A","B","B","A")

number_of_student_with_A_grade= tup.count("A")
print(number_of_student_with_A_grade)

In [ ]:
list = ["C","D","A","A","B","B","A"]
list.sort()

print(list)

In [ ]:
my_dict = {
    "table":["a piece of furniture","list of facts and figures"],
    "cat":"a small animal"
}

print(my_dict)

In [ ]:
subjects ={"python","java","C++","python","javascript","java","python","java","C++","C"}


print(len(subjects))

In [ ]:
score_card ={
}
phy_marks= int(input())
score_card.update({"phy": phy_marks})

chem_marks= int(input())
score_card.update({"chem": chem_marks})

math_marks= int(input())
score_card.update({"math": math_marks})

print(score_card)

In [ ]:
set_1 ={9, "9.0"}
print(set_1)

{9, '9.0'}

In [ ]:
i=1
while i<= 100:
  print(i)
  i +=1

In [ ]:
i = 100
while i>= 1:
  print(i)
  i -=1

In [ ]:
i = int(input())
j = 2
while j <=10:
  print(i * j)
  j+=1

In [ ]:
list = [1, 4, 9, 16, 25, 36, 49, 64, 81,100]

i = 0
while i < len(list):
  print(list[i])
  i +=1

In [ ]:
nums =(1, 4, 9, 16, 25, 36, 49, 64, 81,100)

x = int(input())
i = 0
while i < len(nums):
  if nums[i] == x :
    print ("Found at",i)

  i += 1

In [ ]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81,100]

for values in nums:
  print(values)

In [ ]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81,100)
x = int(input())

idx = 0
for values in tup:
  if (values == x):
    print ("found at", idx)
    idx += 1

In [ ]:
for number in range(1,101,1):
  print(number)

In [ ]:
for number in range(100,0,-1):
  print(number)

In [ ]:
x = int(input())

for number in range(x,11*x,x):
  print(number)

In [ ]:
x = int(input())
sum = 0
i=1
while i<= x:
  sum +=i
  i+=1

print("the sum is",sum)

In [ ]:
x = int(input())
factorial = 1
i = 1
for values in range(1,x+1):
  factorial *= i
  i+=1

print("the factorial is", factorial)

In [ ]:
def average_of_numbers(a,b,c):
  sum = a + b + c
  avg = sum / 3

  return avg

average_of_numbers(1,2,3)

In [ ]:
vegetables= ["potato","tomato","bhindi"]
places = ["delhi","mumbai","chennai"]

def print_len(list):
  print(len(list))

print_len(vegetables)

In [ ]:
vegetables= ["potato","tomato","bhindi"]
places = ["delhi","mumbai","chennai"]

def print_list(list):
  for item in list:
    print(item, end=" ")

print_list(places)

In [ ]:
def cal_fact(n):
  fact =1
  for i in range(1,n+1):
    fact *=i
    i +=1
  print(fact)

cal_fact(6)

In [ ]:
def conversion(usd_dollar):
  indian_rupee = usd_dollar * 83
  print(usd_dollar,"USD=", indian_rupee,"INR")

conversion(4)